/* Color Theme Swatches in Hex */
$Black: #0d0e10;
$Black-dark: #00010d;
$Black-light: #15171a;

$Blue: #023e73;
$Blue-medium: #024873;
$Blue-light: #04668c;

$Grey: #8c8b79;
$Grey-dark: #333333;
$Grey-medium: #5e5e5e;
$Grey-light: #9c9c9c;

$White: #f5f7f7;
$White-dark: #edeff0;
$White-light: #fafcfc;

.color-grey {
  color: $Grey;
}

