//Menu

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 48px 16px;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
  .menu-logo {
    display: none;
  }
}

.relative {
  position: relative;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  max-width: 1220px;
  margin: 0 auto;

  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
  .container {
    flex-direction: column;
  }
}

.container-item:nth-child(1) {
  flex-grow: 3;

  margin: 40px 0px;
}
.container-item:nth-child(2) {
  //flex-grow: ;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0px;

  img {
    max-width: 400px;
  }
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .svg-hero {
    transform: scale(1) rotate(25deg);
  }
}

@media screen and (max-width: 960px) {
  .svg-hero {
    transform: scale(2) rotate(60deg);
  }
}

.bb-grey {
  width: 100%;
  border-bottom: 1px solid $Grey-dark;
}

.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    &:hover {
      & + .img-project {
        transform: translate(-50%, -50%) translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

.img-project {
  max-width: 640px;
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: 0.5s ease;
  z-index: -1;

  opacity: 0;

  transform: translate(-50%, -50%) translate3d(-1000px, 0, 0) skewX(30deg);
}

.get {
  max-width: 1200px;

  margin: 0 auto;
  padding: 16px 24px;
}

#bg-hero-line1 {
  transform-origin: center center;

  animation: rotate1 1.3s infinite alternate;
}

@keyframes rotate1 {
  0% {
    transform: skewX(1deg) scale(1.5);
    opacity: 0.2;
  }
  50% {
    transform: skewX(2deg) scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: skewX(3deg) scale(1.5);
    opacity: 0.8;
  }
}
#bg-hero-line2 {
  transform-origin: center center;

  animation: rotate2 1.5s infinite alternate;
}

@keyframes rotate2 {
  0% {
    transform: skewX(3deg) scale(1);
  }
  50% {
    transform: skewX(2deg) scale(1);
  }
  100% {
    transform: skewX(1deg) scale(1);
    opacity: 0.5;
  }
}

.about{
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
}

.me{
  max-width: 1200px;
  padding: 8px 24px;
}